* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
}
h1, h2, h3, h4 {
  font-family: "Releway", sans-serif;
  font-weight: bolder;
  color: rgb(206, 200, 200);
}

p {
  font-family: "Releway", sans-serif;
}

.form__button {
  border: none;
  height: 40px;
  width: 140px;
  color: black;
  font-weight: bolder;
  border-radius: 10px;
  background-color: yellowgreen;
  opacity: 0.7;
  transition: all 0.3 ease-out;
}
.form__button:hover, .form__button:checked {
  transform: scale(1.1);
  opacity: 2;
}

.planes__btn {
  width: 190px;
  height: 50px;
  margin-left: 20px;
  justify-content: center;
  border: 1px solid black;
  border-radius: 30px;
  background-color: yellowgreen;
}
.planes__btn a {
  text-decoration: none;
  color: black;
  padding-right: 7px;
}

/*header*/
header a {
  text-decoration: none;
}

.header__img {
  width: 35px;
  height: 35px;
}

.collapse a:hover, .collapse a:active {
  border-bottom: 2px solid yellowgreen;
  color: yellowgreen;
  opacity: 0.7;
}

.navbar {
  font-family: "Releway", sans-serif;
  font-weight: bolder;
}

@media (min-width: 768px) {
  .header__img {
    width: 35px;
    height: 35px;
  }
  .header__nav {
    justify-content: space-between;
    padding: 10px 40px;
  }
  .nav__item a {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .header__img {
    width: 40px;
    height: 40px;
  }
  .nav__item a {
    font-size: 20px;
  }
}
/*PAGE HOME*/
body {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

.home__titulo {
  background: radial-gradient(#262826, #040000);
  padding: 50px 0;
}
.home__titulo h1 {
  color: rgb(206, 200, 200);
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}

.home {
  display: grid;
  gap: 13px;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 400px);
  grid-template-areas: "home__asociate" "home__actividades" "home__prueba";
}

.home__asociate {
  grid-area: home__asociate;
  background-image: url(../asset/image/gimnasiog-4.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  filter: brightness(70%);
  align-items: flex-end;
  padding: 15px;
}
.home__asociate a {
  background-color: black;
  color: rgb(206, 200, 200);
  font-weight: bolder;
  padding: 15px;
  text-decoration: none;
  border: 2px solid rgb(206, 200, 200);
  border-radius: 20px;
  animation: parpadear 1s infinite alternate backwards;
}

.home__actividades {
  grid-area: home__actividades;
  background: url(../asset/image/croosfit1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 15px;
  filter: brightness(70%);
}
.home__actividades a {
  background-color: black;
  color: rgb(206, 200, 200);
  font-weight: bolder;
  padding: 15px;
  text-decoration: none;
  border: 2px solid rgb(206, 200, 200);
  border-radius: 20px;
  animation: parpadear 1s infinite alternate backwards;
}

.home__prueba {
  grid-area: home__prueba;
  background: url(../asset/image/pilates1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 15px;
  padding-bottom: 30px;
  filter: brightness(70%);
}
.home__prueba a {
  background-color: black;
  color: rgb(206, 200, 200);
  font-weight: bolder;
  padding: 15px;
  text-decoration: none;
  border: 2px solid rgb(206, 200, 200);
  border-radius: 20px;
  animation: parpadear 1s infinite alternate backwards;
}

@keyframes parpadear {
  0% {
    color: rgb(206, 200, 200);
    border: 2px solid rgb(206, 200, 200);
    box-shadow: none;
  }
  25% {
    border-color: 2px solid yellowgreen;
    color: yellowgreen;
    box-shadow: 0px 0px 6px yellowgreen, 0px 0px 16px yellowgreen;
  }
  30% {
    color: rgb(206, 200, 200);
    border: 2px solid rgb(206, 200, 200);
    box-shadow: none;
  }
  60% {
    border-color: 2px solid yellowgreen;
    color: yellowgreen;
    box-shadow: 0px 0px 6px yellowgreen, 0px 0px 16px yellowgreen;
  }
  78% {
    color: rgb(206, 200, 200);
    border: 2px solid rgb(206, 200, 200);
    box-shadow: none;
  }
  100% {
    border-color: 2px solid yellowgreen;
    color: yellowgreen;
    box-shadow: 0px 0px 9px yellowgreen, 0px 0px 16px yellowgreen;
  }
}
@media (min-width: 768px) {
  .home {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px 300px;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-areas: "home__asociate home__asociate" "home__actividades home__prueba";
  }
  .home__actividades {
    padding-bottom: 30px;
  }
  .navbar {
    font-family: "Releway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 8px;
  }
}
@media (min-width: 1024px) {
  .home {
    padding: 0 10px;
    grid-template-rows: 600px 500px;
    row-gap: 10px;
    column-gap: 10px;
  }
  .home__asociate {
    padding: 70px;
  }
  .home__actividades a, .home__prueba a, .home__asociate {
    font-size: 25px;
  }
}
/*PAGE ACTIVIDADES*/
.actividades__titulo {
  background: radial-gradient(#262826, #040000);
  padding: 50px 0;
}
.actividades__titulo h2 {
  text-align: center;
  color: rgb(206, 200, 200);
  font-size: 28px;
  font-weight: 900;
}

.actividades {
  justify-content: center;
  width: 100%;
}
.actividades h3 {
  font-size: 25px;
  font-weight: bolder;
  color: black;
}
.actividades p {
  font-size: 18px;
}
.actividades img {
  filter: grayscale(80%);
  transition: filter 0s ease;
  box-shadow: 0 4px 20px black;
}
.actividades img:hover {
  filter: grayscale(0%);
}

.actividades__card {
  max-width: 90%;
}

@media (min-width: 768px) {
  .actividades h3 {
    font-size: 30px;
  }
  .actividades p {
    font-size: 25px;
  }
  .actividades .actividades__titulo h2 {
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  .actividades {
    display: flex;
    row-gap: 150px;
    column-gap: 120px;
  }
  .actividades__card {
    max-width: 40%;
  }
  .actividades__titulo h2 {
    font-size: 40px;
  }
}
/*PAGE CONTACTO*/
.contacto__main {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto__main iframe {
  max-width: 70%;
}

.contacto__titulo {
  background: radial-gradient(#262826, #040000);
  width: 100%;
  padding: 50px 0;
}
.contacto__titulo h2 {
  color: rgb(206, 200, 200);
  text-align: center;
  font-size: 28px;
  font-weight: 900;
}

.contacto__img {
  width: 300px;
  height: 350px;
}

.contacto__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
.contacto__text h3 {
  color: rgb(206, 200, 200);
  margin-top: 30px;
  font-weight: bolder;
  font-size: 20px;
}
.contacto__text p {
  color: rgb(206, 200, 200);
  font-size: 15px;
}

.contacto {
  display: flex;
  flex-direction: column;
  gap: 150px;
  text-align: center;
  margin-top: 30px;
}
.contacto a {
  text-decoration: none;
  color: yellowgreen;
}

.icon__contacto {
  width: 20px;
  height: 20px;
}

.maps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .contacto__titulo h2 {
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  .contacto__titulo h2 {
    font-size: 40px;
  }
  .contacto__text h3 {
    font-size: 30px;
  }
  .contacto__text p {
    font-size: 20px;
  }
  .contacto a {
    font-size: 25px;
  }
  .maps p {
    font-size: 20px;
  }
}
/*formulario*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 10px;
  max-width: 70%;
  margin: auto;
}
form input, form textarea:focus {
  border: 2px solid yellowgreen;
}
form option {
  background-color: yellowgreen;
}
form option :focus {
  outline: none;
}
form option .textarea {
  height: 150px;
  resize: none;
}

/*pagina planes*/
.planes__main {
  text-align: center;
  padding-top: 50px;
  background-color: black;
  padding: 0;
}
.planes__main p {
  font-size: 18px;
  color: rgb(206, 200, 200);
  font-weight: bolder;
}

.planes__titulo {
  background: radial-gradient(#262826, #040000);
  width: 100%;
  padding: 50px 0;
}
.planes__titulo h2 {
  color: rgb(206, 200, 200);
  text-align: center;
  font-size: 28px;
  font-weight: 900;
}

.planes__cards {
  margin: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.planes__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid yellowgreen;
  width: 300px;
  height: 650px;
  margin-bottom: 80px;
  opacity: 0.7;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.planes__list:hover {
  transform: scale(1.2);
  opacity: 0.9;
  color: #040000;
  background-color: yellowgreen;
}
.planes__list li {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(105, 100, 100);
}
.planes__list li:first-child {
  font-size: 30px;
  text-align: center;
}
.planes__list li:nth-child(2) {
  font-size: 35px;
  margin-left: 60px;
}
.planes__list img {
  width: 25px;
  height: 25px;
}

@media (min-width: 768px) {
  .planes__titulo h2 {
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  .planes__main h2 {
    font-size: 40px;
  }
  .planes__main p {
    font-size: 35px;
  }
  .planes__cards {
    display: flex;
    flex-flow: row wrap;
    gap: 60px;
  }
}
/*pagina clase de prueba*/
.claseprueba__titulo {
  background: radial-gradient(#262826, #040000);
  padding: 50px 0;
  width: 100%;
}
.claseprueba__titulo h2 {
  color: rgb(206, 200, 200);
  text-align: center;
  font-size: 28px;
  font-weight: 900;
}

.claseprueba__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
}
.claseprueba__main h4 {
  color: rgb(206, 200, 200);
}

.claseprueba__act {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 70px;
}
.claseprueba__act h4 {
  color: rgb(206, 200, 200);
}
.claseprueba__act iframe {
  max-width: 90%;
  width: 560px;
  height: 315px;
}
.claseprueba__act a {
  height: 40px;
  width: 140px;
  border: none;
  color: white;
  justify-content: center;
  align-content: center;
  background-color: yellowgreen;
  font-weight: bolder;
  border-radius: 10px;
  text-decoration: none;
  opacity: 0.7;
}
.claseprueba__act a:hover, .claseprueba__act a:checked {
  transform: scale(1.1);
  opacity: 2;
}

@media (min-width: 768px) {
  .claseprueba__titulo h2 {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .claseprueba__titulo h2 {
    font-size: 40px;
  }
}
/*footer*/
footer {
  grid-area: footer;
  background-color: black;
  justify-content: space-around;
}
footer p, footer a {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.footer__img {
  width: 50px;
  height: 50px;
}

.icon__item {
  width: 15px;
  height: 15px;
}

/*# sourceMappingURL=main.css.map */
