@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin respond-to($media){
    @if $media == "mobile"{
        @media (min-width:640px){
            @content;
        }
    }@else if $media == "tablet"{
        @media (min-width:768px){
            @content;
        }
    }@else if $media == "desktop"{
        @media (min-width:1024px) {
            @content;
        }
    }       
}

@mixin enlaces-home{
    background-color: $color-bg;
    color:$color-text-primary;
    font-weight:$font-weigth;
    padding: 15px;
    text-decoration: none;
    border: $border-primary;
    border-radius: 20px;

    &:hover,&:active{
        background-color:$color-bg-secundary;
        color: $color-bg;
        border: $color-bg;
    }
}