$color-text-primary:rgb(206,200,200);
$color-text-secundary:yellowgreen;
$color-bg:black;
$font-family:"Releway", sans-serif;
$border-primary:2px solid rgb(206,200,200);
$border-secundary:2px solid yellowgreen;
$opacity:0.7;
$font-weigth:bolder;