/*footer*/

footer{
    grid-area: footer;
    background-color: black;
    justify-content: space-around;
}
footer p, footer a{
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.footer__img{
    width:50px;
    height: 50px;
}
.icon__item{
    width: 15px;
    height: 15px;
}