/*formulario*/
form{
    @include flex-column-center;
    gap: 15px;
    border-radius: 10px;
    max-width: 70%;
    margin: auto;

    & input, textarea:focus{
        border: $border-secundary;
    }
    option{
        background-color:$color-bg-secundary;

        :focus{
        outline: none;
        }
        & .textarea{
            height: 150px;
            resize: none;
        }
    }
}

