/*formulario*/
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    max-width: 70%;
    margin: auto;
}
form input,textarea:focus{
    border: 2px solid greenyellow;
}
form option{
    background-color:yellowgreen;
}
form option:focus{
    outline: none;
}
.textarea{
    height: 150px;
    resize: none;
}  
