/*header*/

header a{
    text-decoration: none;
}
.header__img{
    width: 35px;
    height: 35px;
}

.collapse a:hover , .collapse a:active{
    border-bottom: $border-secundary;
    color: $color-text-secundary;
    opacity: 0.7;
}
.navbar{
    font-family:$font-family;
    font-weight: $font-weigth;
}

@media (min-width:768px) {

    .header__img{
        width: 35px;
        height: 35px;
    }
    .header__nav{
        justify-content:space-between;
        padding: 10px 40px ;
    }
    .nav__item a{
        font-size: 16px;
    }
}

@media (min-width:1024px) {

    .header__img{
        width: 40px;
        height: 40px;
    }
    .nav__item a{
        font-size: 20px;
    }
}



