//button page contacto//
.form__button{
    border: none;
    height: 40px;
    width: 140px;
    color: $color-bg;
    font-weight:$font-weigth;
    border-radius: 10px;
    background-color:$color-bg-secundary;
    opacity: 0.7;
    transition: all 0.3 ease-out;

    &:hover, &:checked{
        transform: scale(1.1);
        opacity: 2;
    }
} 

//button page planes//
.planes__btn{
    width: 190px;
    height: 50px;
    margin-left: 20px;
    justify-content:center;
    border: 1px solid black;
    border-radius: 30px;
    background-color:$color-bg-secundary;
    
    a{
    text-decoration: none;
    color:$color-bg;
    padding-right: 7px;
    }
}

