/*PAGE ACTIVIDADES*/
.actividades__titulo{
    background: radial-gradient(#262826, #040000);
    padding: 50px 0;

    h2{
        text-align: center;
        color:$color-text-primary;
        font-size: 28px;
        font-weight:900;
        }
}
.actividades{
    justify-content: center;
    width: 100%;

    h3{
    font-size: 25px;
    font-weight:$font-weigth;
    color:$color-bg;
    }

    p{
    font-size: 18px;
    }

    img{
    filter:grayscale(80%);
    transition: filter 0s ease;
    box-shadow: 0 4px 20px black;

    &:hover{
        filter: grayscale(0%);
        }
    }
}
.actividades__card{
    max-width: 90%;
}

@include respond-to ("tablet"){
    .actividades{
        h3{
            font-size: 30px;
        }
        p{
            font-size: 25px;
        }
        .actividades__titulo h2{
            font-size: 32px;
        }
    }
}

@include respond-to ("desktop") {
    .actividades{
        display: flex;
        row-gap: 150px;
        column-gap: 120px;
    }
    .actividades__card{
        max-width: 40%;
    }
    .actividades__titulo h2{
        font-size: 40px;
    }
}