/*pagina clase de prueba*/
.claseprueba__titulo{
    background: radial-gradient(#262826, #040000);
    padding: 50px 0;
    width:100%;

    h2{
        color:$color-text-primary;
        text-align: center;
        font-size: 28px;
        font-weight:900;
    }
}
.claseprueba__main{
    @include flex-column-center;
    text-align: center;
    background-color: $color-bg;

    h4{
        color:$color-text-primary;
    }
}
.claseprueba__act{
    @include flex-column-center;
    gap: 30px;
    margin-bottom: 70px;

    h4{
        color:$color-text-primary;
    }

    iframe{
    max-width:90%;
    width:560px;
    height:315px;
    }
    
    & a{
        height: 40px;
        width: 140px;
        border: none;
        color:white;
        justify-content: center;
        align-content: center;
        background-color:$color-bg-secundary;
        font-weight:$font-weigth;
        border-radius: 10px;
        text-decoration: none;
        opacity: 0.7;
        transition: all 0.3 ease-out;
    
        &:hover,&:checked{
        transform: scale(1.1);
        opacity: 2;
        }
    } 
}

@include respond-to ("tablet"){
    .claseprueba__titulo h2{
        font-size: 30px;
    }
}

@include respond-to ("desktop"){
    .claseprueba__titulo h2{
        font-size: 40px;
    }
}