/*PAGE HOME*/

body{
    width: 100%;
    height: 100vh;
    background-color: $color-bg;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:auto 1fr auto;

    grid-template-areas: 
    "header"
    "main"
    "footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
.home__titulo{
    background: radial-gradient(#262826, #040000);
    padding: 50px 0;

    h1{
    color:$color-text-primary;
    text-align: center;
    font-size: 40px;
    font-weight:900;
    }
}

.home{
    display: grid;
    gap: 20px;
    grid-template-columns: 100%;
    grid-template-rows:repeat(3,400px) ;
     
    grid-template-areas: 
    "home__asociate"
    "home__actividades"
    "home__prueba"
    
}
.home__asociate{
    grid-area: home__asociate;
    background-image: url(../asset/image/gimnasiog-4.jpg);
    background-size:cover;
    display: flex;
    justify-content: center;
    filter: brightness(60%);
    align-items: flex-end;
    padding: 30px;

    a{
    background-color: $color-bg;
    color:$color-text-primary;
    font-weight:$font-weigth;
    padding: 15px;
    border: $border-primary;
    border-radius: 20px;
    opacity:$opacity;

    &:hover,&:active{
        background-color:$color-bg-secundary;
        color: $color-bg;
        opacity: 0.8;
        }
    }
}


.home__actividades{
    grid-area: home__actividades;
    background: url(../asset/image/croosfit1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:left;
    align-items:end;
    padding: 20px;
    filter: brightness(70%);

    a{
        color:$color-text-primary;
        font-size: 25px;
        font-weight:$font-weigth;
        opacity:$opacity;

        &:hover,&:active{
            border-bottom:$border-secundary;
            color: $color-text-secundary;
            padding: 3px;
            opacity: 1;
        }
    }
}
.home__prueba{
    grid-area: home__prueba;
    background: url(../asset/image/pilates1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:left;
    align-items:end;
    padding: 20px;
    filter: brightness(70%);

    a{
        color:$color-text-primary;
        font-size: 25px;
        font-weight:$font-weigth;
        opacity:$opacity;

        &:hover,&:active{
            border-bottom:$border-secundary;
            color: $color-text-secundary;
            padding: 3px;
            opacity: 1;
        }
    }
}


@include respond-to ("tablet"){
    .home{
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:500px 300px ;
        row-gap: 5px;
        column-gap: 5px;
        
        grid-template-areas: 
        "home__asociate home__asociate"
        "home__actividades home__prueba"
    }
    .home__asociate a{
        font-size: 20px;
        border: $border-primary;
    }
    .home__actividades a , .home__prueba a{
        font-size: 30px; 
    }
    .navbar{
        font-family: $font-family;
        font-weight: 500;
        font-size: 20px;
        margin-left: 8px;
    }
}

@include respond-to ("desktop"){
    .home{
        padding: 0 10px;
        grid-template-rows:600px 500px ;
        row-gap: 10px;
        column-gap: 10px;
    }
    .home__asociate {
        padding: 70px;

        a{
        font-size: 25px;
        padding: 15px; 
        }
    }
    
    .home__actividades a , .home__prueba a{
        padding: 20px;
        font-size: 40px;
    }
    .home__actividades a:hover , .home__prueba a:hover ,.home__actividades a:active , .home__prueba a:active{
        border-bottom: $border-primary;
        padding: 5px;
        opacity: 1;
    }
}